In [1]:
import numpy as np
import pandas as pd
import sys 
sys.path.append('/home/rosselli/GraRed')
from GraRed import Catalogue

In [2]:
df =pd.read_parquet('/home/rosselli/GraRed/Data/SDSS_galaxy_cat.parquet')
#df=dd.loc[np.random.choice(dd.index,50000)]
gal = Catalogue.Galaxies(df['RA[deg]'].values,df['DEC[deg]'].values,df['Z'].values,redshift_err=df['zerr'].values)

In [3]:
df =pd.read_parquet('/home/rosselli/GraRed/Data/WH15_cluster_cat.parquet')
m = 1.08*np.log10(df.RL500.values) - 1.37 +14
df['M500']=10**m

rand_gen = np.random.default_rng(1234)


dd = df.loc[rand_gen.choice(df.index,1000,replace=False)]

In [4]:
cl = Catalogue.Cluster(dd['RA[deg]'].values,dd['Dec[deg]'].values,dd['z'].values,mass=dd['M500'].values,radius=dd['R500[Mpc]'].values,
concentration=None,is_crit=True, delta=500,gravity='GR', seed=1234)
cl.data

if the masses are in logharitmic scale, please change it or the code will not work

,ID,RA,Dec,redshift,M_500,Dc,Dm,R_500
0,0,223.77908,20.08905,0.2708,5.289428e+13,1121.341217,1121.341217,0.53
1,1,236.52069,16.87424,0.3303,1.163456e+14,1346.308111,1346.308111,0.68
2,2,156.68929,15.43678,0.6222,9.972391e+13,2342.151848,2342.151848,0.58
3,3,17.24220,24.90027,0.1970,1.526852e+14,831.565628,831.565628,0.71
4,4,177.98593,21.18941,0.6100,1.237191e+14,2303.950910,2303.950910,0.65
...,...,...,...,...,...,...,...,...
995,995,237.51624,4.02152,0.6377,1.750796e+14,2390.278275,2390.278275,0.69
996,996,131.83258,23.22121,0.2249,7.256533e+13,942.518023,942.518023,0.65
997,997,233.01314,28.46441,0.2150,1.818835e+14,903.343192,903.343192,0.81
998,998,259.47128,55.69589,0.2976,1.981174e+14,1223.623390,1223.623390,0.81
999,999,128.37886,59.61148,0.4870,1.779326e+14,1902.566354,1902.566354,0.74

In [5]:
%%time
cl.compute_cluster_center(gal.data, radians=False, v_cut=2500., r_cut=1.)
cl.data

/home/rosselli/GraRed/GraRed/utils.py:73: RuntimeWarning: invalid value encountered in sqrt
  theta=2*np.arcsin(np.sqrt(a+b))

CPU times: user 1min 9s, sys: 139 ms, total: 1min 9s
Wall time: 1min 9s

,ID,RA,Dec,redshift,M_500,Dc,Dm,R_500,new_RA,new_Dec,new_redshift,num_mean_centr
0,0,223.77908,20.08905,0.2708,5.289428e+13,1121.341217,1121.341217,0.53,3.905682,0.350620,0.270800,1
1,1,236.52069,16.87424,0.3303,1.163456e+14,1346.308111,1346.308111,0.68,4.128065,0.294511,0.330300,1
2,2,156.68929,15.43678,0.6222,9.972391e+13,2342.151848,2342.151848,0.58,2.734744,0.269423,0.622200,1
3,3,17.24220,24.90027,0.1970,1.526852e+14,831.565628,831.565628,0.71,0.300933,0.434592,0.197000,1
4,4,177.98593,21.18941,0.6100,1.237191e+14,2303.950910,2303.950910,0.65,3.106441,0.369825,0.610000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,237.51624,4.02152,0.6377,1.750796e+14,2390.278275,2390.278275,0.69,4.145440,0.070189,0.637700,1
996,996,131.83258,23.22121,0.2249,7.256533e+13,942.518023,942.518023,0.65,2.300913,0.405287,0.224900,1
997,997,233.01314,28.46441,0.2150,1.818835e+14,903.343192,903.343192,0.81,4.066703,0.496639,0.214974,3
998,998,259.47128,55.69589,0.2976,1.981174e+14,1223.623390,1223.623390,0.81,4.528793,0.972037,0.297589,2
999,999,128.37886,59.61148,0.4870,1.779326e+14,1902.566354,1902.566354,0.74,2.240634,1.040417,0.487000,1

In [6]:
%%time
cl.compute_vel_distr(gal.data)
cl.data

/home/rosselli/GraRed/GraRed/utils.py:73: RuntimeWarning: invalid value encountered in sqrt
  theta=2*np.arcsin(np.sqrt(a+b))

CPU times: user 1min 12s, sys: 128 ms, total: 1min 12s
Wall time: 1min 13s

,ID,RA,Dec,redshift,M_500,Dc,Dm,R_500,new_RA,new_Dec,new_redshift,num_mean_centr,dist_member,vel_member,num_member
0,0,223.77908,20.08905,0.2708,5.289428e+13,1121.341217,1121.341217,0.53,3.905682,0.350620,0.270800,1,[],[],0
1,1,236.52069,16.87424,0.3303,1.163456e+14,1346.308111,1346.308111,0.68,4.128065,0.294511,0.330300,1,[],[],0
2,2,156.68929,15.43678,0.6222,9.972391e+13,2342.151848,2342.151848,0.58,2.734744,0.269423,0.622200,1,[],[],0
3,3,17.24220,24.90027,0.1970,1.526852e+14,831.565628,831.565628,0.71,0.300933,0.434592,0.197000,1,"[3.121033087036755, 1.9995089637108057, 3.8674...","[-673.6488, -3683.029, -3752.6826, -1919.7362,...",5
4,4,177.98593,21.18941,0.6100,1.237191e+14,2303.950910,2303.950910,0.65,3.106441,0.369825,0.610000,1,[],[],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,237.51624,4.02152,0.6377,1.750796e+14,2390.278275,2390.278275,0.69,4.145440,0.070189,0.637700,1,[],[],0
996,996,131.83258,23.22121,0.2249,7.256533e+13,942.518023,942.518023,0.65,2.300913,0.405287,0.224900,1,[2.1339667462648313],[-3927.0352],1
997,997,233.01314,28.46441,0.2150,1.818835e+14,903.343192,903.343192,0.81,4.066703,0.496639,0.214974,3,"[0.2449006406804425, 2.475626742238353, 2.0354...","[3246.404, 3532.1833, 3186.4624, 3297.0046]",4
998,998,259.47128,55.69589,0.2976,1.981174e+14,1223.623390,1223.623390,0.81,4.528793,0.972037,0.297589,2,[],[],0
999,999,128.37886,59.61148,0.4870,1.779326e+14,1902.566354,1902.566354,0.74,2.240634,1.040417,0.487000,1,[],[],0

In [7]:
cl.compute_vel_distr(gal.data,new=False)
cl.data

/home/rosselli/GraRed/GraRed/utils.py:73: RuntimeWarning: invalid value encountered in sqrt
  theta=2*np.arcsin(np.sqrt(a+b))

,ID,RA,Dec,redshift,M_500,Dc,Dm,R_500,new_RA,new_Dec,new_redshift,num_mean_centr,dist_member,vel_member,num_member
0,0,223.77908,20.08905,0.2708,5.289428e+13,1121.341217,1121.341217,0.53,3.905682,0.350620,0.270800,1,[],[],0
1,1,236.52069,16.87424,0.3303,1.163456e+14,1346.308111,1346.308111,0.68,4.128065,0.294511,0.330300,1,[3.1496825401646955],[-1761.1173],1
2,2,156.68929,15.43678,0.6222,9.972391e+13,2342.151848,2342.151848,0.58,2.734744,0.269423,0.622200,1,[],[],0
3,3,17.24220,24.90027,0.1970,1.526852e+14,831.565628,831.565628,0.71,0.300933,0.434592,0.197000,1,[],[],0
4,4,177.98593,21.18941,0.6100,1.237191e+14,2303.950910,2303.950910,0.65,3.106441,0.369825,0.610000,1,[],[],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,237.51624,4.02152,0.6377,1.750796e+14,2390.278275,2390.278275,0.69,4.145440,0.070189,0.637700,1,[],[],0
996,996,131.83258,23.22121,0.2249,7.256533e+13,942.518023,942.518023,0.65,2.300913,0.405287,0.224900,1,[],[],0
997,997,233.01314,28.46441,0.2150,1.818835e+14,903.343192,903.343192,0.81,4.066703,0.496639,0.214974,3,"[3.260748836068539, 1.8656778270205479, 0.6030...","[53.714287, -61.06292, -82.24218, 62.77388]",4
998,998,259.47128,55.69589,0.2976,1.981174e+14,1223.623390,1223.623390,0.81,4.528793,0.972037,0.297589,2,"[3.9808798201434152, 0.1506975663067092]","[75.8004, -5.0033264]",2
999,999,128.37886,59.61148,0.4870,1.779326e+14,1902.566354,1902.566354,0.74,2.240634,1.040417,0.487000,1,[],[],0