In [1]:
import numpy as np
import pandas as pd
import sys 
sys.path.append('/home/rosselli/GraRed')
from GraRed import Catalogue

In [2]:
df =pd.read_parquet('/home/rosselli/GraRed/Data/SDSS_galaxy_cat.parquet')
df

          RA[deg]   DEC[deg]         Z      zerr
0       146.74413  -0.652191  0.203783  0.000039
1       146.62857  -0.765137  0.064656  0.000021
2       146.63167  -0.988278  0.052654  0.000009
3       146.91945  -0.990492  0.213861  0.000040
4       146.76339  -0.810433  0.448220  0.000107
...           ...        ...       ...       ...
760084  239.87523  28.044893  0.301934  0.000105
760085  239.39712  27.595333  0.301937  0.000031
760086  239.28087  27.325898  0.301671  0.000032
760087  239.20567  27.964835  0.315056  0.000091
760088  239.33893  27.482404  0.302018  0.000061

[760089 rows x 4 columns]

In [3]:
df =pd.read_parquet('/home/rosselli/GraRed/Data/SDSS_galaxy_cat.parquet')
gal = Catalogue.Galaxies(df['RA[deg]'].values,df['DEC[deg]'].values,df['Z'].values,redshift_err=df['zerr'].values)
gal

In [4]:
df =pd.read_parquet('/home/rosselli/GraRed/Data/WH15_cluster_cat.parquet')
m = 1.08*np.log10(df.RL500.values) - 1.37 +14
df['M500']=10**m

rand_gen = np.random.default_rng(1234)


dd = df.loc[rand_gen.choice(df.index,100,replace=False)]

In [5]:
cl = Catalogue.Cluster(dd['RA[deg]'].values,dd['Dec[deg]'].values,dd['z'].values,mass=dd['M500'].values,radius=dd['R500[Mpc]'].values,
concentration=None,fr0=1.e-4,
                compute_radius=True,compute_conc=True,convert_to_fr=True,is_crit=True,
                delta=500,gravity='f(R)', seed=1234)

cl

if the masses are in logharitmic scale, please change it or the code will not work
attention convertion works only if M500 are given

/home/rosselli/GraRed/GraRed/utils.py:188: RuntimeWarning: invalid value encountered in power
  return AA*np.power(mass/Mpivot, BB)*np.power(1.+redshift, CC)
/home/rosselli/.local/lib/python3.10/site-packages/scipy/optimize/_minpack_py.py:178: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [8]:
cl.data

,ID,RA,Dec,redshift,M_500,Dc,Dm,R_500,c_500
0,0,133.17844,42.85583,0.4573,1.626991e+14,1801.087521,1801.087521,0.200648,0.542947
1,1,194.40996,20.22742,0.1593,6.866985e+13,678.930597,678.930597,0.168673,3.314874
2,2,174.41954,33.17027,0.2289,7.287918e+13,958.285256,958.285256,0.167747,3.289696
3,3,317.76135,-7.85259,0.4351,1.262310e+14,1724.043959,1724.043959,0.186013,0.725824
4,4,132.14304,47.85315,0.4620,1.100344e+14,1817.267436,1817.267436,0.175792,2.353078
...,...,...,...,...,...,...,...,...,...
95,95,152.60814,32.90984,0.5026,1.393066e+14,1955.145508,1955.145508,0.187096,9412.620075
96,96,348.87042,27.35468,0.5577,1.815389e+14,2136.935257,2136.935257,0.199862,5.585340
97,97,3.10526,27.89360,0.5235,2.011379e+14,2024.815618,2024.815618,0.209690,1.176301
98,98,192.10094,58.05417,0.1965,6.563559e+13,829.561692,829.561692,0.163937,3.169826
99,99,350.84909,11.63431,0.5543,1.361966e+14,2125.892817,2125.892817,0.181856,1.295789